<div class="container" style="width: 450px; text-align: center;">
    <div>
        <button mat-icon-button style="float: right; margin: 15px;">
            <mat-icon style="color: red;">close</mat-icon>
        </button>
    </div>
    <div mat-dialog-title>User Form</div>
    <div mat-dialog-content>
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput style="border-radius: 5px; height: 15px; width: 175px;"[(ngModel)]="data.title">
            <mat-icon fontIcon="person" matSuffix></mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput style="border-radius: 5px; height: 15px; width: 175px;" [(ngModel)]="data.description">
            <mat-icon fontIcon="description" matSuffix></mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Priority</mat-label>
            <input matInput style="border-radius: 5px; height: 15px; width: 175px;" [(ngModel)]="data.priority">
            <mat-icon fontIcon="priority" matSuffix></mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Status</mat-label>
            <input matInput style="border-radius: 5px; height: 15px; width: 175px;" [(ngModel)]="data.status">
            <mat-icon fontIcon="status" matSuffix></mat-icon>
          </mat-form-field>
          <!-- <br>
          <mat-form-field color="accent" appearance="outline">
            <mat-label>DueDate</mat-label>
            <input matInput style="border-radius: 5px; height: 15px; width: 175px;">
            <mat-icon fontIcon="person" matSuffix></mat-icon>
          </mat-form-field> -->
    </div>
    <div mat-dialog-actions>
        <button (click)="addOrEditUser(data)" mat-flat-button mat-dialog-close="data">Submit</button>
        <button mat-flat-button mat-dialog-close="data" color="warn">Cancle</button>
    </div>
</div>
